<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Language>English</Language>
  <FrozenTime>180</FrozenTime>
  <ExePath>C:\Program Files (x86)\SquareEnix\FINAL FANTASY XIV - A Realm Reborn\game\ffxiv.exe</ExePath>
  <GameLanguageIndex>1</GameLanguageIndex>
  <Region>0</Region>
</Settings>